<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Libraria Login Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
</head>


<body>
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">

    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Login</h2>

                            <form
                                    th:object="${loginData}"
                                    th:action="@{/users/login}"
                                    th:method="POST">


                                <div class="col-auto">
                                    <label for="inputEmail" class="col-form-label ">Email</label>
                                </div>
                                <div class="col-auto">
                                    <input name="email"
                                       th:field="*{email}"
                                       th:errorclass="is-invalid"
                                       type="email"
                                       id="inputEmail"
                                       class="form-control"
                                       aria-describedby="emailHelpInline">
                                </div>


                                <div class="col-auto">
                                    <label for="inputPassword" class="col-form-label ">Password</label>
                                </div>
                                <div class="col-auto">
                                    <input name="password"
                                           th:field="*{password}"
                                           th:errorclass="is-invalid"
                                           type="password"
                                           id="inputPassword"
                                           class="form-control"
                                           aria-describedby="passwordHelpInline">
                                    </div>

                        <div class="pt-1 mb-4">
                            <button  type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                        </div>

                        <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p> <!-- TODO: CONTACT US PAGE -->

                        <p>Don't have an account? <a class="fw-bold text-body" th:href="@{/users/register}">Register here</a></p>

                    </form>

                </div>

            </div>

                     </div>
                 </div>
            </div>
        </div>
    </div>>
</section>
</body>
</html>